.hero-viewer {
  background-image: url("https://www.iwantwallpaper.co.uk/images/rasch-ka-pow-pattern-comic-book-motif-cartoon-childrens-wallpaper-272604-p2786-5732_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  opacity: 0.7;
}

.blackWidow {
  height: 400px;
  width: auto;
}

/* .blackWidowSymbol {
  background-image: url("https://www.nicepng.com/png/detail/120-1208220_black-widow-symbol-fill-black-widow-logo-marvel.png");
  height: 300px;
  width: auto;
} */

.dcLogo {
  width: 250px;
  height: 130px;
}

.marvelLogo {
  width: 300px;
  height: 100px;
}

.hero {
  display: inline;
  /* position: absolute; */
}

.blackWidowText {
  font-size: 30px;
  color: rgb(0, 0, 0);
}
