.pokemon-viewer {
  background-image: url("./df4e8ba28f912bf9cdf9fa0dfc196411.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
  opacity: 0.9;
}

.pokemonLogo {
  width: 70%;
  height: auto;
}

.charmanderName {
  text-transform: capitalize;
}

.charmander {
  height: 50vh;
  width: auto;
}
