.animal-viewer {
  background-image: url("./El-Yunque-morning-mist-iStock-535499464.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 700px;
  position: center;
}

.animalImage {
  width: 550px;
  height: 350px;
}
