.gaming-viewer {
  background-image: url("./dc8def609c27f9123c4f61a83a3b93bd.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: center;
  /* opacity: 0.8; */
}

/* .yoshiText {
  font-size: 40px;
} */

.xboxButtons {
  display: inline;
  width: auto;
  height: 10vh;
  align-items: center;
  justify-content: center;
  float: center;
  position: relative;
}

.gaming {
  position: relative;
  display: inline;
  align-items: center;
  justify-content: center;
}

.playstationButtons {
  display: inline;
  width: auto;
  height: 10vh;
  align-items: center;
  justify-content: center;
  float: center;
  position: relative;
}

.yoshiImage {
  height: 40%;
  width: auto;
}
