.homePage {
  background-image: url("https://bcuassets.blob.core.windows.net/img/bullring-bull-300x250-131378485455971261.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 450px;
  position: relative;
  opacity: 0.5;
}

.home {
  text-decoration: underline;
}

.text {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 2, 3);
  text-align: center;
  padding: 3%;
  margin: 3%;
  display: inline;
  font-weight: 700;
}
