.disney-viewer {
  background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/640/360/75/dam/disneyland/attractions/disneyland/sleeping-beauty-castle-walkthrough/sleeping-beauty-castle-exterior-16x9.jpg?1593556896598");
  background-repeat: no-repeat;
  background-size: 1000px 700px;
  position: center;
}
